{% extends "./layout.njk" %}
{% block main %}
<a class="govuk-back-link" href="/">Back</a>
<h1 class="govuk-heading-xl">Demo application architecture</h1>
<p class="govuk-body">The "Ask a question about GOV.UK PaaS" application is a demonstration of some features of GOV.UK PaaS.</p>
<p class="govuk-body">The application is composed of 5 microservices. The frontend is available on the internet
(<a href="https://delivery-and-support.london.cloudapps.digital">https://delivery-and-support.london.cloudapps.digital</a>), while the backend services are deployed as
<a href="https://docs.cloud.service.gov.uk/deploying_apps.html#deploying-private-apps">private apps</a> (so they can only be accessed from the frontend).</p>
<p class="govuk-body">GOV.UK PaaS supports <a href="https://www.cloud.service.gov.uk/features">multiple languages and backing services</a>.
This demo uses a Postgres SQL database and the services are implemented in a variety of supported languages (for example JavaScript and .NET Core).</p>
<h2 class="govuk-heading-l">Architecure Diagram</h2>
<object style="width: 100%;" data="/assets/images/tdln-complex-demo-architecture.svg" type="image/svg+xml"></object>
{% endblock %}
