{% extends "./layout.njk" %}
{% block main %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">This code was written in a bit of a rush, so please forgive us if it's a bit buggy.</p>
      </div>
    </div>
  </main>
</div>
{% endblock %}